.banner{
    background-size:contain;
    background-position: center;
    /* height: 75vh; */
    height: 35vh;
    /* height: auto; */
    background-color: transparent;
    background-image: url("../media/banner1.jpg");
    background-repeat:repeat;
}
.contenedorBanner{
    text-align: center;
    padding: 5% 0;    
}
.contenedorBanner h1{
    margin: 0;
    color: azure;
    font-size: 80px;
    font-weight: bold;
}
.contenedorBanner h2{
    font-size: 75px;
    color: azure;

}
/* .dolarHoy{ */
.contenedorApi {
    color: azure;
    border: solid white;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
        
    justify-content: center;
    align-content:center;
    align-items: center;
    text-align: center;
    /* width: 290px;
    margin-left:650px; */

    /* color_change */
    animation-name: color_change;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
    
 @keyframes color_change {
    from { background-color: rgb(89, 124, 157); }
    to { background-color: rgb(3, 130, 26); }
}
